.word {
  text-align: center;
}
.letter {
  font-size: 1.6rem;
  margin-right: 5px;
}
.space {
  content: '';
  margin-right: 20px;
}

.keybord {
  margin-top: 20px;
  text-align: center;
}

.btn.btn-outline-dark.used {
  background-color: #CCC;
}